<div class="container-fluid">
  <p>
    El método forEach() ejecuta la función indicada una vez por cada elemento del array. Este método puede ayudarte a
    recorrer los elementos de un array.
  </p>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary" (click)="onArrayIterator()">
        Recorrer Arreglo lineal
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="onArrayReverse()">
        Recorrer Arreglo inverso
      </button>
    </div>
  </div>

</div>
