<div class="container-fluid">
  <h2 class="title text-center">Funciones para trabajar con arreglos map()</h2>
  <hr>
  <p>
    El método <b>map()</b> crea un nuevo array con los resultados de la llamada a la función indicada aplicados a cada uno de
    sus elementos.
  </p>
  <button class="btn btn-primary" (click)="onAddElement()">
    Map (item+1)
  </button>
  <br>
  <br>
  <p>
    Tome todos los elementos del arreglo y apliquele la segunda potencia...
  </p>
  <button class="btn btn-primary" (click)="onPowElements()">
    Map (Math.pow(num,2))
  </button>
</div>
